/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.Contador{
    text-align: center;
    background: blue;
}
.Contador div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: rgb(19, 56, 188);
    color: white;
    padding: 10px;
    margin: 3px;
}

.controles {
    display: flex;
    justify-content: center;
    background: gainsboro;
    padding: 10px;
    margin: 3px;
    margin-top: 20px;
    gap: 20px;
}